th {
  @apply text-gray-500 font-normal text-sm text-center;
  @apply whitespace-nowrap py-4 pl-2 pr-6;
}

th:first-child {
  @apply w-48 block;
  @apply bg-white sticky left-0;
}

tbody tr {
  @apply bg-slate-200 border-b-2 border-b-slate-300;
}

td {
  @apply text-gray-900 text-lg text-center;
  @apply whitespace-nowrap py-4 pl-2 pr-6;
}

td:first-child {
  @apply tracking-wider sticky left-0 bg-slate-200;
}

.team-name {
  @apply flex;
}

.team-name span:first-child {
  @apply mr-4;
}

.conference-switch button {
  @apply px-4 border-none cursor-default md:cursor-pointer focus-visible:outline-none;
}

.conference-switch {
  --start: 0;
}

.conference-switch:after {
  @apply content-[''] block bg-blue-200 rounded-sm w-1/2 absolute -z-10 top-1 bottom-1 my-auto;
  left: var(--start);
  transition: left 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
}
